%% -*-Erlang-*-
{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.
{require_otp_vsn, "17"}.

{erl_opts, [
    {parse_transform, lager_transform},
    fail_on_warning
]}.

{plugins, [rebar_vsn_plugin]}.
{plugin_dir, "deps/rebar_vsn_plugin/src"}.

{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.

{deps, [
    {dws, ".*",
      {git, "http://gitlab.idea.cz/tmr/dws.git", "master"}}
]}.
